body {
    width: 10000px;
    height: 10000px;
    background-image: url(grid.png);
}

button {
    position: absolute;
}

img {
    width: 60px;
    height: 300px;
    position: sticky;
    top: 10px;
    left: 10px;
}
