html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #5a5a5a;
}

body {
    width: 90%;
    min-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 3%;
    font-family: baskerville, serif;
}

a:visited { text-decoration: none; color:rgb(93, 93, 93); }
a:hover, a:active { text-decoration: none; color:black }

header {
    display: flex;
    border: 2px solid black;
}

header h1 {
    font-family: luminari, fantasy;
    font-size: 60px;
    line-height: 0.7em;
    margin:0;
    padding:0;
}
  
section {
    display: flex;
    flex: 5;
    flex-direction: column;
    padding: 3%;
    height: 53px;
}

header img {
    height: 150px;
    width: 150px;
}


main {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

div {
    display: flex;
}

nav {
    flex: 0 0 100px;
    border: 2px solid black;
    padding: 1%;
}

aside {
    flex: 5;
    margin-left: 10px;
    padding: 1%;
}

aside img {
    max-width: 100%;
    float: right;
    padding: 1%;
}

article {
    display: flex;
    flex: 5;
    float: right;
    flex-direction: column;
    margin-left: 10px;
    padding: 1%;
    height: 630px;
    align-items: center;
}

section img {
    float: right;
    padding: 1%;
}

footer {
    font-size: 30px;
}